.aboutMainContent {
    height: 77.5vh;
    width: 80%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    animation-name: moveIn;
    animation-duration: 2s;
}

.aboutTextContent {
    color: white;
    width: 47%;
}

.aboutTextContent > h3 {
    font-size: 50px;
    line-height: 40px;
}
.aboutTextContent > p {
    font-size: 20px;
    text-align: justify;
}

.techStack {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
}

.techStack > svg {
    margin-top: 17px;
}

.techStack > h3 {
    font-size: 15px;
}

.nextJs {
    background-color: white;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    padding: 3px;
    margin-top: 12px;
}


@media screen and (max-width: 1000px) {
    .aboutMainContent {
        flex-direction: column;
        height: 100%;
        padding-bottom: 30px;
    }
    .aboutTextContent {
        width: 100%;
    }

    .techStack {
        gap: 15px;
    }
}

@media screen and (max-width: 550px) {
    .aboutTextContent > h3 {
        font-size: 35px;
        line-height: 30px;
    }
    .aboutTextContent > p {
        font-size: 15px;
    }

    .techStack > h3 {
        font-size: 10px;
    }


}

@keyframes moveIn {
    0% {position: relative; left: -500px;}
  100% {position: relative; left: 0%;}
}