.blogMainContent {
    width: 100%;
    min-height: 77.5vh;
    padding-bottom: 30px;
    /* animation-name: moveIn;
    animation-duration: 2s; */
}

.blogMainContent2 {
  width: 100%;
  height: 100%;
  padding-bottom: 24px;

}

.cardBlogContent {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    box-shadow: 0 10px 25px 0 rgb(1, 11, 20);
    transition: 0.3s;
    width: 30%;
    min-width: 300px;
    cursor: pointer;
    border-radius: 8px;
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(7,46,54,1) 100%, rgba(12,9,38,1) 100%, rgba(14,46,73,1) 100%);
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .blogImage {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 8px;
  }

  .cardText {
    padding: 15px;
    color: white;
    

  }

  .cardText > h5 {
    font-size: 20px;
  }

  .cardText > p {
    font-size: 15px;
  }

  .headerBlogList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headerBlogList > button {
    height: 40px;
    background-color: white;
    width: 70px;
    border: 1px solid rgb(114, 109, 109);
    cursor: pointer;
    border-radius: 12px;
  }

  .buttonAdd {
    height: 40px;
    background-color: white;
    width: 70px;
    border: 1px solid rgb(114, 109, 109);
    cursor: pointer;
    border-radius: 12px;
  }
  .blogContent > h3 {
    font-size: 52px;
    margin: 0;
  }

  @media screen and (max-width: 1300px) {
    .blogMainContent {
      height: 100%;
    }
  }

  @media screen and (max-width: 680px) {
    .blogContent > h3 {
      font-size: 40px;
    }
   }
  @media screen and (max-width: 380px) {

    .cardBlogContent {
      width: 87%;
    }
    .blogContent > h3 {
      font-size: 34px;
    }
  }


.mainBlogUserContent {
  width: 100%;
  background-color: white;
  padding-top: 20px;
}

.blogContent {
  width: 80%;
  margin: auto;
  max-width: 900px;
}


.blogImageUser {
  width: 100%;
  object-fit: cover;
  height: 350px;
  border-radius: 8px;
}

.loadingImage {
  width: 90%;
  height: 400px;
  margin: auto;
}

/* @keyframes moveIn {
  0% {position: relative; left: -500px;}
100% {position: relative; left: 0%;}
} */

 