.mainContainer {
  width: 100%;
  background-color: black;
}

.titleLogo {
  font-weight: 600;
  font-size: 32px;
  color: white;
}

.navbarComponent {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid white; */
  align-items: center;
  padding: 18px 40px;
  padding-right: 60px;
  height: 22.5vh;
  /* position: fixed; */
}

.menuNavbar {
  display: flex;
  justify-content: space-between;
  width: 45%;
  min-width: 400px;
}

.menuNavbar > li {
  list-style-type: none;
  color: white;
  cursor: pointer;
}

.menuNavbar > li:hover {
  border-bottom: 1px solid yellow;
}

.homeMainContent {
  width: 100%;
  height: 77.5vh;
  position: relative;
  /* border: 2px solid white; */
}

.imageAuthor {
  /* border: 2px solid white; */
  /* margin: auto; */
  position: absolute;
  bottom: 0;
  width: 60%;
  left: 35%;
  height: 100%;
}

.textContent {
  position:absolute;
  animation-name: moveIn;
  left: 13%;
  animation-duration: 2s;
}

.subtitle {
  color: white;
  font-size: 25px;
  font-weight: 200;
  opacity: .5;
}

.buttonGetInTouch {
  width: 150px;
  height: 70px;
  border: 1px solid white;
  color: white;
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
}

.buttonGetInTouch:hover {
  /* opacity: .6; */
  border: 1px solid yellow;
  color: yellow;
}

@keyframes moveIn {
  0%   {left: -500px;}
  100% {left: 13%;}
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.floatingNavbar {
  width: 100%;
  /* color: white; */
  position: absolute;
  background-color: black;
  top: 0;
  z-index: 1;
  height: 100vh;
  display: none;
}

.nameTitle {
  font-size: 45px;
  font-weight: 600;
  color: white;
}


@media screen and (max-width: 700px) {
  .hamburger {
    display: block;
    color: white;
  }

  .menuNavbar {
    display: none;
  }

  .floatingNavbar {
    display: block;
  }

  .nameTitle {
    font-size: 38px;
  }
}


@media screen and (max-width: 500px) {
  .nameTitle {
    font-size: 32px;
  }
}


.floatingNavbar > ul > li {
  list-style-type: none;
  margin-top: 24px;
  color: white;
  font-size: 24px;
  cursor: pointer;  
  width: fit-content;
}
.floatingNavbar > ul > li:hover {
  border-bottom: 2px solid yellow;
}

.xmarks {
  cursor: pointer;
  color: white;
  margin-top: 63px;
  font-size: 28px;
  margin-left: 78%;
}

